.root {
	li {
		display: inline-block;

		a {
			text-align: center;
			line-height: 42px;
			align-self: center;
			width: 45px;
			height: 45px;
			padding: 10px;
			border: 1px solid #fe5f1e;
			border-radius: 30px;
			margin-right: 10px;
			cursor: pointer;
			transition: all 0.5s ease-in-out;
			color: #fe5f1e;
			
		}
	}
	:global {
		.selected {
			a {
				background-color: #fe5f1e;
				color: #fff;
			}
		}
	}
}
