.addTodo {
	display: flex;
	justify-content: center;
	cursor: hover;
}
.btnDelete {
}

.elementsList {
	border-radius: 7px;
	margin-top: 5px;
	width: 500px;
	background-color: lightsteelblue;
	display: flex;
	justify-content: space-between;
	align-items: center;
	cursor: pointer;
}
.elementsList:hover {
	background-color: rgb(96, 120, 151);
}

body {
	display: flex;
	justify-content: center;
	background-color: rgb(81, 83, 83);
}

.fieldStyle {
	cursor: hover;
}
